<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Appenders>
        <!-- Настройка ежедневной ротации -->
        <RollingFile name="DailyFile"
                     fileName="logs/hippodrome.log"
                     filePattern="logs/hippodrome.%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} : %msg%n"/>

            <!-- Триггеры ротации -->
            <Policies>
                <!-- Ротация в 00:00 каждый день -->
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>

            <!-- Удаление файлов старше 7 дней -->
            <DefaultRolloverStrategy>
                <Delete basePath="logs" maxDepth="1">
                    <IfFileName glob="hippodrome.*.log" />
                    <IfLastModified age="7d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="DailyFile"/>
        </Root>
    </Loggers>
</Configuration>